<!-- <!DOCTYPE html>
<html>
<head>
    <title>Employee Information</title>
    <style>
        table {
            border-collapse: collapse;
            width: 70%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>Employee Information</h2>

<table>
    <tr>
        <th>Empid</th>
        <th>Empnumber</th>
        <th>Empname</th>
        <th>Empsalary</th>
    </tr>

    {% for e in emp %}
    <tr>
        <td>{{ e.id }}</td>
        <td>{{ e.eno }}</td>
        <td>{{ e.ename }}</td>
        <td>{{ e.esal }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
